Repository Herre1/microservice-app-example: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/auth-api-pipeline.yml, .azure-pipelines/frontend-pipeline.yml, .azure-pipelines/todos-api-pipeline.yml, .azure-pipelines/users-api-pipeline.yml

.azure-pipelines/auth-api-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - job: BuildAndTest
      steps:
      - task: Maven@3
        inputs:
          mavenPomFile: auth-api/pom.xml
          goals: clean package
          publishJUnitResults: true
          testResultsFiles: '**/surefire-reports/TEST-*.xml'
  ...

.azure-pipelines/frontend-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - job: BuildAndTest
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: 14.x
      - script: 'cd frontend
  
          npm install
  
          npm run test:unit
  
          '
        displayName: npm install and test
  ...

.azure-pipelines/todos-api-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - job: BuildAndTest
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: 14.x
      - script: 'cd todos-api
  
          npm install
  
          npm test
  
          '
        displayName: npm install and test
      - task: Docker@2
  ...

.azure-pipelines/users-api-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - job: BuildAndTest
      steps:
      - task: Maven@3
        inputs:
          mavenPomFile: users-api/pom.xml
          goals: clean package
          publishJUnitResults: true
          testResultsFiles: '**/surefire-reports/TEST-*.xml'
  ...

Minor fix
  auth-api/pipeline.yaml
  frontend/pipeline.yaml
  log-message-processor/pipeline.yaml
  todos-api/pipeline.yaml
  users-api/pipeline.yaml
Due: .azure-pipelines/auth-api-pipeline.yml, .azure-pipelines/frontend-pipeline.yml, .azure-pipelines/todos-api-pipeline.yml, .azure-pipelines/users-api-pipeline.yml

Little fix
  auth-api/Dockerfile
Due: .azure-pipelines/auth-api-pipeline.yml

Again
  auth-api/Dockerfile
Due: .azure-pipelines/auth-api-pipeline.yml

Fix
  users-api/Dockerfile
  users-api/pom.xml
Due: .azure-pipelines/users-api-pipeline.yml

Update log python
  log-message-processor/pipeline.yaml
Due: none

Changes to DockerFile Log
  log-message-processor/Dockerfile
Due: none

update
  frontend/default.conf
  frontend/k8s/dev/configmap.yaml
  frontend/k8s/dev/deployment.yaml
  frontend/nginx.conf
  infra/k8s/api-gateway.yaml
  infra/k8s/ingress.yaml
Due: .azure-pipelines/frontend-pipeline.yml

Changes
  auth-api/Dockerfile
  auth-api/package.json
  auth-api/pipeline.yaml
  auth-api/pom.xml
  auth-api/src/main/java/com/example/authapi/AuthApiApplication.java
  auth-api/src/main/resources/application-circuitbreaker.yml
  auth-api/src/main/resources/application.properties
  auth-api/target/auth-api-1.0-SNAPSHOT.jar
  auth-api/target/auth-api-1.0-SNAPSHOT.jar.original
  auth-api/target/classes/application-circuitbreaker.yml
  auth-api/target/classes/application.properties
  auth-api/target/classes/com/example/authapi/AuthApiApplication.class
  auth-api/target/maven-archiver/pom.properties
  auth-api/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  auth-api/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  users-api/pipeline.yaml
Due: .azure-pipelines/auth-api-pipeline.yml, .azure-pipelines/users-api-pipeline.yml

Update Pipeline
  auth-api/pipeline.yaml
Due: .azure-pipelines/auth-api-pipeline.yml

Another
  auth-api/pipeline.yaml
Due: .azure-pipelines/auth-api-pipeline.yml

Again
  auth-api/pipeline.yaml
Due: .azure-pipelines/auth-api-pipeline.yml

AAAA
  auth-api/pipeline.yaml
Due: .azure-pipelines/auth-api-pipeline.yml

VAMOSSSSSSSSSS
  auth-api/pipeline.yaml
Due: .azure-pipelines/auth-api-pipeline.yml

AE
  auth-api/pipeline.yaml
Due: .azure-pipelines/auth-api-pipeline.yml

p
  auth-api/pipeline.yaml
Due: .azure-pipelines/auth-api-pipeline.yml

Update docker
  auth-api/Dockerfile
Due: .azure-pipelines/auth-api-pipeline.yml

Alpine a golang
  auth-api/Dockerfile
Due: .azure-pipelines/auth-api-pipeline.yml

Maybe
  auth-api/Dockerfile
Due: .azure-pipelines/auth-api-pipeline.yml

L
  auth-api/Dockerfile
Due: .azure-pipelines/auth-api-pipeline.yml

Again
  auth-api/k8s/dev/deployment.yaml
Due: .azure-pipelines/auth-api-pipeline.yml

New Front
  frontend/Dockerfile
  frontend/k8s/dev/configmap.yaml
  frontend/k8s/dev/deployment.yaml
  frontend/nginx.conf
  frontend/src/auth.js
  infra/k8s/ingress.yaml
  users-api/Dockerfile
  users-api/k8s/dev/deployment.yaml
  users-api/package.json
  users-api/src/main/resources/application.properties
  users-api/src/main/resources/data.sql
Due: .azure-pipelines/frontend-pipeline.yml, .azure-pipelines/users-api-pipeline.yml

probando
  frontend/config/index.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/auth.js
Due: .azure-pipelines/frontend-pipeline.yml

Path conditions:
  .azure-pipelines/auth-api-pipeline.yml: any of: auth-api
  .azure-pipelines/frontend-pipeline.yml: any of: frontend
  .azure-pipelines/todos-api-pipeline.yml: any of: todos-api
  .azure-pipelines/users-api-pipeline.yml: any of: users-api
